*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  width: 100%;
  min-height: 100vh;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: right;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 35% 43%, 53% 11%, 0 11%, 0 0);
}

.nav-bar{
  width: 100%;
  height: 80px;
  /* border: 1px solid black; */
  background: #9dd49a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
}


.nav-item{
  list-style: none; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  /* background: black; */
}

